
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
}

.Prose {
    display: grid;
    grid-template-columns: [full-start] minmax(13px, 1fr) [main-start] minmax(0, 1440px) [main-end] minmax(13px, 1fr) [full-end];
    grid-auto-rows: max-content;
}

.Prose > * {
  grid-column: main;
}

.grid-full {
    grid-column: full;
}

.swiperMain{
    padding: 0 32px 0 25px!important;
    box-sizing: content-box!important;   
    margin: 0 -32px 0 -25px!important;
}

.swiperSecond{
    padding: 0 20px 0 20px!important;
    box-sizing: content-box!important;   
    margin: 0 -20px 0 -20px!important;
}

.swiper-button-next, .swiper-button-prev {    
    width: auto;
    height:auto;    
    padding:16px 20px;
    background: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.07);
    border-radius: 100px;    
}

.swiper-button-prev  {       
    left: 0;
}

.swiper-button-next  {       
    right: 0;
}

.swiper-button-next {    
    transform: matrix(-1, 0, 0, 1, 0, 0)
}

.swiper-button-next::after, .swiper-button-prev::after {    
    content: "";
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 35px!important;
}

.swiper-pagination-bullet {
    box-sizing: content-box;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background:#A10B0B;   
    opacity: 1;
   /*  transition: all .5s linear; */
}

.swiper-pagination-bullet-active {    
    background:#FFD25F content-box;      
    outline: 1px solid #FFD25F; 
    padding: 4px;
}

.gradient-post{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.69) 7.5%, rgba(0, 0, 0, 0) 25.67%), linear-gradient(150.48deg, rgba(0, 0, 0, 0.69) 7.96%, rgba(0, 0, 0, 0) 25.28%), url(065.png);
}

.card-shadow{
    background: linear-gradient(180deg, rgba(161, 11, 11, 0.2) 0%, rgba(255, 186, 20, 0.2) 100%);
    filter: blur(25px);
    border-radius: 20px;
}

